@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@4000;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-card {
    background-color: #894bca;
    background-size: cover;
    height: 100vh;
}

.main-heading {
    color: white;
    font-family: Bree Serif;
    font-size: 25px;
    width: 100px;
    font-weight: 200;
    margin: 20px;
}

.stores-card {
    height: 80vh;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    padding-top: 30px;
}

.stores-card-sub-cards {
    margin: 10px;
    margin-top: 20px;
}

.stores-card-main-heading {
    color: #f780c3;
    font-size: 18px;
    font-weight: bold;

}

.stores-card-sub-heading {
    font-size: 20px;
    font-weight: bold;
}

.stores-card-sub-para {
    font-size: 13px;
    color: #7b8794;
}

.sub-card-heading-paragraph {
    margin-left: 15px;
}